@import url('https://fonts.googleapis.com/css?family=Poppins:300, 400, 500, 600, 700, 800, 900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/*body {
    background: #0a2a43;
    min-height: 900px;
}*/

.navbar {
    position: sticky !important;
    top: 0;
    z-index: 10 !important;
}

.navbar-brand img {
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

.navbar-nav li a:hover {
    background-color: #0a2 !important;
    color: #fff !important;
    font-weight: bolder;
    font-size: large;
    border-radius: 20px;
}

.navbar {
    background: #415d8a;
}

.navbar-toggler {
    border: none !important;
}

.nav-link {
    color: #0a2 !important;
    font-weight: 600;
    font-size: 16px
}


/*-------- Slider ------------*/

#slider {
    width: 100%;
    height: 100hv;
}

img .responsive {
    width: 100%;
    height: auto;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial !important;
}

.carousel-caption h4 {
    color: #0a2;
    font-size: 42px;
    font-weight: 700;
    text-decoration: underline;
}

.carousel-caption h5 {
    color: #0a2;
    font-size: 36px;
    font-weight: 700;
    border: 2px solid #0a2;
    border-radius: 10px;
}


/*------------ Services ------------*/

#services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/services.jpg');
    background-size: cover;
    background-position: center;
    color: #efefef;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#services h1 {
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}

#services h1::after {
    content: '';
    background: #efefef !important;
    padding-bottom: 10px;
    display: block;
    height: 3px;
    width: 250px;
    margin: 20px auto 5px;
}

.services {
    margin-top: 40px;
}

.icon {
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}

#services p {
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}

.services .col-md-3:hover {
    background: #0a2;
    cursor: pointer;
    transition: 0.7s;
}


/* -----------End Services ------------*/


/*--------- Team ------------*/

#team {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

h1 {
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}

h1::after {
    content: '';
    background: #0a2;
    display: block;
    height: 3px;
    width: 200px;
    margin: 20px auto 5px;
}


/*--------- Team ------------*/

.profile-pic {
    margin-top: 25px;
}

.profile-pic .img-box {
    opacity: 1;
    display: block;
    position: relative;
}

.profile-pic .img-box img {
    filter: grayscale(1);
    border-radius: 50% !important;
}

.profile-pic .img-box img:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.prolfile-pic h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #0a2 !important;
}

.prolfile-pic h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}

#team .fab {
    height: 25px;
    width: 25px;
    color: #0a2 !important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}

.img-box ul {
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.img-box ul li {
    padding: 5px;
    display: inline-block;
}

.img-box:hover ul {
    opacity: 1;
}

.img-box ul,
.img-box ul li {
    transition: 0.5s;
}

#about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url('../images/promo.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    padding: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 38px;
}

#price {
    padding: 40px 0;
    background: #efefef;
}

.single-price {
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}

.single-price:hover {
    box-shadow: 0 2px 20px #333;
}

.price-head {
    background-color: #0a2;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}

.price-head h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.price-head p {
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}

#price span {
    font-size: 15px;
}

.price-content {
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}

.price-content ul li {
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}

ul li:last child {
    border: none;
}

.fa-check-circle {
    color: #0a2;
    margin-right: 10px;
    font-size: 20px;
}

.fa-times-circle {
    color: red;
    margin-right: 10px;
    font-size: 20px;
}

.price-button {
    display: inline;
    float: left;
    padding: left;
    text-align: center;
    width: 100%;
}

.buy-btn {
    background-color: #0a2;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}

.buy-btn:hover {
    border-color: 1px solid #fff;
    background-color: #0a2;
}

a {
    text-decoration: none !important;
    color: #fff !important;
}

#testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
}

#testimonials .row {
    margin-top: 30px;
}

.col-md-4 {
    margin: 40px auto;
}

.profile {
    padding: 70px 10px 10px;
    background-color: #efefef;
}

.user {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile img {
    top: -60px;
    position: absolute;
    left: calc(50% -60px);
    border: 10px solid #fff;
}

.profile h3 {
    font-size: 20px;
    margin-top: 15px;
    color: #0a2;
}

#testimonials span {
    font-size: 12px;
    color: #333;
}

blockquote {
    font-size: 16px;
    line-height: 30px;
}

blockquote::before {
    content: '\93';
    font-size: 50px;
    color: #0a2;
    position: relative;
    line-height: 20px;
    bottom: 15px;
    right: 5px;
}

blockquote::after {
    content: '\94';
    font-size: 50px;
    color: #0a2;
    position: relative;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}

.profile:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
}


/*------------Start Contact -----------------*/

#contact {
    /* background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url('../images/promo.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    padding: 70px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
}

.contact-form {
    padding: 15px;
}

.form-control {
    border-radius: 0 !important;
    border: none !important;
}

::placeholder {
    color: #999 !important;
}

.contact-info .fab {
    margin: 10px;
    color: #0a2;
    font-weight: bold;
}

#contact .container h1 {
    color: #fff !important;
}


/*--------------- footer --------------*/

footer {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    background-color: #0a2 !important;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

footer .container {
    width: 100%;
    padding: 20px;
}

footer .box {
    width: 20%;
}

.col-md-6 .follow .address {
    text-decoration: underline !important;
    font-size: 88px;
}

.price-content p a {
    color: #0a2 !important;
}


/* For Screens smaller than 768 pixel */

@media only screen and (max-width: 768px) {
    .carousel-caption h4 {
        color: #0a2;
        font-size: 12px;
        font-weight: 700;
        text-decoration: underline;
    }
    .carousel-caption h5 {
        color: #0a2;
        font-size: 12px;
        font-weight: 700;
        border: 1px solid #0a2;
        border-radius: 10px;
    }
    .carousel-caption {
        padding-top: 70px;
        padding-bottom: 15px;
    }
    #about .container p {
        font-size: 24px;
    }
    #about {
        padding: 100px 80px;
    }
}/* For Screens smaller than 768 pixel */

@media only screen and (max-width: 768px) {
    .carousel-caption h4 {
        color: #0a2;
        font-size: 12px;
        font-weight: 700;
        text-decoration: underline;
    }
    .carousel-caption h5 {
        color: #0a2;
        font-size: 12px;
        font-weight: 700;
        border: 1px solid #0a2;
        border-radius: 10px;
    }
    .carousel-caption {
        padding-top: 70px;
        padding-bottom: 15px;
    }
    #about .container h2 {
        font-size: 24px;
    }
    #about {
        padding: 100px 80px;
    }
}
